In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import LeaveOneOut
from sklearn.linear_model import LogisticRegression
import operator
import matplotlib.pyplot as plt
from openpyxl import load_workbook
from string import ascii_uppercase

In [166]:
dfRaw = pd.read_excel("MergedData.xlsx") # 133455
dfNoNeutral_0 = dfRaw[dfRaw.dataID == 0].drop_duplicates(subset=['Name'], keep=False)
dfNoNeutral_1 = dfRaw[dfRaw.dataID == 1].drop_duplicates(subset=['Name'], keep=False)
dfNoNeutral_2 = dfRaw[dfRaw.dataID == 2].drop_duplicates(subset=['Name'], keep=False)

dfNoNeutrals = dfNoNeutral_0.append(dfNoNeutral_1).append(dfNoNeutral_2)
dfNoNeutrals = dfNoNeutrals.drop(["Unnamed: 3", "Unnamed: 4"], axis=1)
dfNoNeutrals.sort_index() #132049

              Name   Gender  dataID
0                A     Male       2
1             A.j.     Male       2
2            Aaban     Male       1
3            Aaban     Male       2
4            Aabas     Male       2
5            Aabha   Female       1
6            Aabia   Female       2
7            Aabid     Male       1
8            Aabid     Male       2
9       Aabidammar     Male       2
10       Aabriella   Female       1
11           Aadam     Male       1
12           Aadam     Male       2
13           Aadan     Male       1
14         Aadarsh     Male       1
15         Aadarsh     Male       2
16           Aaden     Male       0
17           Aaden     Male       1
18           Aaden     Male       2
19          Aadesh     Male       1
20          Aadham     Male       2
21          Aadhav     Male       1
22          Aadhav     Male       2
23        Aadhavan     Male       1
24         Aadhira   Female       1
25       Aadhithya     Male       2
26          Aadhya   Female       0
27          Aadhya   Female       1
28          Aadhya   Female       2
29         Aadhyan     Male       1
...            ...      ...     ...
133425        Zyri   Female       1
133426       Zyria   Female       1
133427      Zyriah   Female       1
133428      Zyrian     Male       1
133429     Zyriana   Female       1
133430    Zyrianna   Female       1
133431       Zyrie   Female       1
133432      Zyriel   Female       1
133433    Zyrielle   Female       1
133434   Zyrihanna   Female       1
133435       Zyrin     Male       1
133436      Zyrion     Male       1
133437     Zyriyah   Female       1
133438       Zyron     Male       1
133439       Zyrus     Male       1
133440      Zysean     Male       1
133441     Zyshaun     Male       1
133442     Zyshawn     Male       1
133443      Zyshon     Male       1
133444    Zyshonne     Male       1
133445   Zytaevius     Male       1
133446    Zytaveon     Male       1
133447    Zytavion     Male       1
133448   Zytavious     Male       1
133449        Zyva   Female       2
133450      Zyvion     Male       1
133451     Zyyanna   Female       1
133452       Zzyzx     Male       1
133453        True  Unknown       1
133454        True   Female       2

[132049 rows x 3 columns]

In [171]:
dfNoDuplicates = dfNoNeutrals.drop_duplicates(subset=['Name'], keep='first') # 105602 - About 26000 names lost
dfNoDuplicates['Name'] = dfNoDuplicates['Name'].str.lower()

dfNoDuplicates = dfNoDuplicates.drop(dfNoDuplicates[dfNoDuplicates["Gender"] == 'Unknown'].index) # 4229 names lost

dfNoDuplicates['isalpha'] = dfNoDuplicates["Name"].str.isalpha()
dfNoDuplicates = dfNoDuplicates.drop(dfNoDuplicates[dfNoDuplicates["isalpha"] == False].index)
dfNoDuplicates = dfNoDuplicates.drop(['isalpha'], axis=1)

dfNoDuplicates['isOneChar'] = dfNoDuplicates["Name"].str.len() < 2
dfNoDuplicates = dfNoDuplicates.drop(dfNoDuplicates[dfNoDuplicates["isOneChar"] == True].index)
dfClean = dfNoDuplicates.drop(['isOneChar'], axis=1)

dfClean.sort_index() # 97103

C:\Users\Samin\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

              Name  Gender  dataID
2            aaban    Male       1
4            aabas    Male       2
5            aabha  Female       1
6            aabia  Female       2
7            aabid    Male       1
9       aabidammar    Male       2
10       aabriella  Female       1
11           aadam    Male       1
13           aadan    Male       1
14         aadarsh    Male       1
16           aaden    Male       0
19          aadesh    Male       1
20          aadham    Male       2
21          aadhav    Male       1
23        aadhavan    Male       1
24         aadhira  Female       1
25       aadhithya    Male       2
26          aadhya  Female       0
29         aadhyan    Male       1
30            aadi    Male       1
32           aadil    Male       1
34          aadila  Female       2
35           aadin    Male       1
36          aadish    Male       1
37         aadison  Female       1
38           aadit    Male       1
40          aadith    Male       1
41         aaditri  Female       1
43         aaditya    Male       1
45      aadityaram    Male       2
...            ...     ...     ...
133423      zyrese    Male       1
133424    zyrhiana  Female       1
133425        zyri  Female       1
133426       zyria  Female       1
133427      zyriah  Female       1
133428      zyrian    Male       1
133429     zyriana  Female       1
133430    zyrianna  Female       1
133431       zyrie  Female       1
133432      zyriel  Female       1
133433    zyrielle  Female       1
133434   zyrihanna  Female       1
133435       zyrin    Male       1
133436      zyrion    Male       1
133437     zyriyah  Female       1
133438       zyron    Male       1
133439       zyrus    Male       1
133440      zysean    Male       1
133441     zyshaun    Male       1
133442     zyshawn    Male       1
133443      zyshon    Male       1
133444    zyshonne    Male       1
133445   zytaevius    Male       1
133446    zytaveon    Male       1
133447    zytavion    Male       1
133448   zytavious    Male       1
133449        zyva  Female       2
133450      zyvion    Male       1
133451     zyyanna  Female       1
133452       zzyzx    Male       1

[97103 rows x 3 columns]

In [172]:
dfWrite = dfClean

excel_dir = 'MergedData.xlsx'
book = load_workbook(excel_dir)
with pd.ExcelWriter(excel_dir, engine='openpyxl') as writer:
    writer.book = book
    writer.sheets = dict((ws.title, ws) for ws in book.worksheets)    

    ## Your dataframe to append. 
    dfWrite.to_excel(writer, 'Sheet2', index=False)

    writer.save()  
writer.close()