In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import LeaveOneOut
from sklearn.linear_model import LogisticRegression
import operator
import matplotlib.pyplot as plt
from openpyxl import load_workbook
from string import ascii_uppercase

In [72]:
dfRaw = pd.read_excel("MergedData1.xlsx")

In [104]:
""" Procedure to keep neutrals """
dfRaw1 = dfRaw.drop(["Unnamed: 3", "Unnamed: 4"], axis=1) # 133455
dfRaw1 = dfRaw1.drop(dfRaw1[dfRaw1["Name"] == True].index) # 133455: Got rid of 2 boolean names
dfRaw1 = dfRaw1.drop(dfRaw1[dfRaw1["Gender"] == 'Unknown'].index) # 127687: 5768 names lost
dfRaw1

              Name  Gender  dataID
0                A    Male       2
1             A.j.    Male       2
2            Aaban    Male       1
3            Aaban    Male       2
4            Aabas    Male       2
5            Aabha  Female       1
6            Aabia  Female       2
7            Aabid    Male       1
8            Aabid    Male       2
9       Aabidammar    Male       2
10       Aabriella  Female       1
11           Aadam    Male       1
12           Aadam    Male       2
13           Aadan    Male       1
14         Aadarsh    Male       1
15         Aadarsh    Male       2
16           Aaden    Male       0
17           Aaden    Male       1
18           Aaden    Male       2
19          Aadesh    Male       1
20          Aadham    Male       2
21          Aadhav    Male       1
22          Aadhav    Male       2
23        Aadhavan    Male       1
24         Aadhira  Female       1
25       Aadhithya    Male       2
26          Aadhya  Female       0
27          Aadhya  Female       1
28          Aadhya  Female       2
29         Aadhyan    Male       1
...            ...     ...     ...
133423      Zyrese    Male       1
133424    Zyrhiana  Female       1
133425        Zyri  Female       1
133426       Zyria  Female       1
133427      Zyriah  Female       1
133428      Zyrian    Male       1
133429     Zyriana  Female       1
133430    Zyrianna  Female       1
133431       Zyrie  Female       1
133432      Zyriel  Female       1
133433    Zyrielle  Female       1
133434   Zyrihanna  Female       1
133435       Zyrin    Male       1
133436      Zyrion    Male       1
133437     Zyriyah  Female       1
133438       Zyron    Male       1
133439       Zyrus    Male       1
133440      Zysean    Male       1
133441     Zyshaun    Male       1
133442     Zyshawn    Male       1
133443      Zyshon    Male       1
133444    Zyshonne    Male       1
133445   Zytaevius    Male       1
133446    Zytaveon    Male       1
133447    Zytavion    Male       1
133448   Zytavious    Male       1
133449        Zyva  Female       2
133450      Zyvion    Male       1
133451     Zyyanna  Female       1
133452       Zzyzx    Male       1

[127687 rows x 3 columns]

In [114]:
dfJoin = dfRaw1.join(dfRaw1.set_index("Name"), on="Name", how="inner", lsuffix="1", sort=True)
dfNeutrals = dfJoin.query("Gender1 != Gender").sort_index() #3976
len(set((list(dfJoin.query("Gender1 != Gender").sort_index().Name))))
neutralNames = list(set(dfJoin.query("Gender1 != Gender").sort_index().Name)) #1057
neutralNames

1057

In [116]:
dfRaw1["isNeutral"] = False
for name in neutralNames:
    dfRaw1.loc[(dfRaw1["Name"] == name), "isNeutral"] = True
dfRaw1

              Name  Gender  dataID isNeutral
0                A    Male       2     False
1             A.j.    Male       2     False
2            Aaban    Male       1     False
3            Aaban    Male       2     False
4            Aabas    Male       2     False
5            Aabha  Female       1     False
6            Aabia  Female       2     False
7            Aabid    Male       1     False
8            Aabid    Male       2     False
9       Aabidammar    Male       2     False
10       Aabriella  Female       1     False
11           Aadam    Male       1     False
12           Aadam    Male       2     False
13           Aadan    Male       1     False
14         Aadarsh    Male       1     False
15         Aadarsh    Male       2     False
16           Aaden    Male       0     False
17           Aaden    Male       1     False
18           Aaden    Male       2     False
19          Aadesh    Male       1     False
20          Aadham    Male       2     False
21          Aadhav    Male       1     False
22          Aadhav    Male       2     False
23        Aadhavan    Male       1     False
24         Aadhira  Female       1     False
25       Aadhithya    Male       2     False
26          Aadhya  Female       0     False
27          Aadhya  Female       1     False
28          Aadhya  Female       2     False
29         Aadhyan    Male       1     False
...            ...     ...     ...       ...
133423      Zyrese    Male       1     False
133424    Zyrhiana  Female       1     False
133425        Zyri  Female       1     False
133426       Zyria  Female       1     False
133427      Zyriah  Female       1     False
133428      Zyrian    Male       1     False
133429     Zyriana  Female       1     False
133430    Zyrianna  Female       1     False
133431       Zyrie  Female       1     False
133432      Zyriel  Female       1     False
133433    Zyrielle  Female       1     False
133434   Zyrihanna  Female       1     False
133435       Zyrin    Male       1     False
133436      Zyrion    Male       1     False
133437     Zyriyah  Female       1     False
133438       Zyron    Male       1     False
133439       Zyrus    Male       1     False
133440      Zysean    Male       1     False
133441     Zyshaun    Male       1     False
133442     Zyshawn    Male       1     False
133443      Zyshon    Male       1     False
133444    Zyshonne    Male       1     False
133445   Zytaevius    Male       1     False
133446    Zytaveon    Male       1     False
133447    Zytavion    Male       1     False
133448   Zytavious    Male       1     False
133449        Zyva  Female       2     False
133450      Zyvion    Male       1     False
133451     Zyyanna  Female       1     False
133452       Zzyzx    Male       1     False

[127687 rows x 4 columns]

In [124]:
dfNeutrals = dfRaw1
dfNeutrals.loc[(dfNeutrals["isNeutral"] == True), "Gender"] = "N" # With duplicates, 3041 are neutral
dfNeutrals.loc[(dfNeutrals["Gender"] == "Male"), "Gender"] = "M"
dfNeutrals.loc[(dfNeutrals["Gender"] == "Female"), "Gender"] = "F"
dfNeutrals[dfNeutrals["isNeutral"] == True]

            Name Gender  dataID isNeutral
193      Aaliyan      N       1      True
194      Aaliyan      N       2      True
383        Aaron      N       0      True
384        Aaron      N       0      True
385        Aaron      N       1      True
386        Aaron      N       2      True
632        Abbie      N       0      True
633        Abbie      N       0      True
634        Abbie      N       1      True
635        Abbie      N       2      True
1453         Ada      N       0      True
1454         Ada      N       0      True
1455         Ada      N       1      True
1456         Ada      N       2      True
1685       Addie      N       0      True
1686       Addie      N       0      True
1687       Addie      N       1      True
1688       Addie      N       2      True
1712     Addison      N       0      True
1713     Addison      N       0      True
1776        Adee      N       1      True
1777        Adee      N       2      True
2064      Adison      N       0      True
2066      Adison      N       2      True
2121       Adley      N       0      True
2123       Adley      N       2      True
2260      Adrian      N       0      True
2261      Adrian      N       0      True
2262      Adrian      N       1      True
2263      Adrian      N       2      True
...          ...    ...     ...       ...
128674       Win      N       1      True
128675       Win      N       2      True
128720  Winifred      N       0      True
128721  Winifred      N       0      True
128722  Winifred      N       1      True
128723  Winifred      N       2      True
128733    Winnie      N       0      True
128734    Winnie      N       0      True
128735    Winnie      N       1      True
128736    Winnie      N       2      True
129391      Yael      N       0      True
129393      Yael      N       2      True
129762    Yaqeen      N       1      True
129763    Yaqeen      N       2      True
129856     Yaris      N       1      True
129857     Yaris      N       2      True
130156       Yee      N       0      True
130158       Yee      N       2      True
130384     Yihan      N       1      True
130385     Yihan      N       2      True
131640   Zakeria      N       1      True
131641   Zakeria      N       2      True
131859     Zanda      N       1      True
131860     Zanda      N       2      True
132539     Zerin      N       1      True
132540     Zerin      N       2      True
132838      Zion      N       0      True
132839      Zion      N       0      True
133254      Zyah      N       1      True
133255      Zyah      N       2      True

[3041 rows x 4 columns]

In [131]:
dfUniqueNames = dfNeutrals.drop_duplicates(subset=["Name"], keep = "first") # 102568 

dfUniqueNames['isalpha'] = dfUniqueNames["Name"].str.isalpha()
dfUniqueNames = dfUniqueNames.drop(dfUniqueNames[dfUniqueNames["isalpha"] == False].index)
dfUniqueNames = dfUniqueNames.drop(['isalpha'], axis=1)

dfUniqueNames['isOneChar'] = dfUniqueNames["Name"].str.len() < 2
dfUniqueNames = dfUniqueNames.drop(dfUniqueNames[dfUniqueNames["isOneChar"] == True].index)
dfAllNames = dfUniqueNames.drop(['isOneChar'], axis=1) # 98315 

dfAllNames

C:\Users\Samin\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

              Name Gender  dataID
2            Aaban      M       1
4            Aabas      M       2
5            Aabha      F       1
6            Aabia      F       2
7            Aabid      M       1
9       Aabidammar      M       2
10       Aabriella      F       1
11           Aadam      M       1
13           Aadan      M       1
14         Aadarsh      M       1
16           Aaden      M       0
19          Aadesh      M       1
20          Aadham      M       2
21          Aadhav      M       1
23        Aadhavan      M       1
24         Aadhira      F       1
25       Aadhithya      M       2
26          Aadhya      F       0
29         Aadhyan      M       1
30            Aadi      M       1
32           Aadil      M       1
34          Aadila      F       2
35           Aadin      M       1
36          Aadish      M       1
37         Aadison      F       1
38           Aadit      M       1
40          Aadith      M       1
41         Aaditri      F       1
43         Aaditya      M       1
45      Aadityaram      M       2
...            ...    ...     ...
133423      Zyrese      M       1
133424    Zyrhiana      F       1
133425        Zyri      F       1
133426       Zyria      F       1
133427      Zyriah      F       1
133428      Zyrian      M       1
133429     Zyriana      F       1
133430    Zyrianna      F       1
133431       Zyrie      F       1
133432      Zyriel      F       1
133433    Zyrielle      F       1
133434   Zyrihanna      F       1
133435       Zyrin      M       1
133436      Zyrion      M       1
133437     Zyriyah      F       1
133438       Zyron      M       1
133439       Zyrus      M       1
133440      Zysean      M       1
133441     Zyshaun      M       1
133442     Zyshawn      M       1
133443      Zyshon      M       1
133444    Zyshonne      M       1
133445   Zytaevius      M       1
133446    Zytaveon      M       1
133447    Zytavion      M       1
133448   Zytavious      M       1
133449        Zyva      F       2
133450      Zyvion      M       1
133451     Zyyanna      F       1
133452       Zzyzx      M       1

[98315 rows x 3 columns]

In [63]:
""" Procedure to drop neutrals """

dfNoNeutral_0 = dfRaw[dfRaw.dataID == 0].drop_duplicates(subset=['Name'], keep=False)
dfNoNeutral_1 = dfRaw[dfRaw.dataID == 1].drop_duplicates(subset=['Name'], keep=False)
dfNoNeutral_2 = dfRaw[dfRaw.dataID == 2].drop_duplicates(subset=['Name'], keep=False)

dfNoNeutrals = dfNoNeutral_0.append(dfNoNeutral_1).append(dfNoNeutral_2)
dfNoNeutrals = dfNoNeutrals.drop(["Unnamed: 3", "Unnamed: 4"], axis=1)
dfNoNeutrals.sort_index() #132049

AttributeError: 'DataFrame' object has no attribute 'dataID'

In [171]:
dfNoDuplicates = dfNoNeutrals.drop_duplicates(subset=['Name'], keep='first') # 105602 - About 26000 names lost
dfNoDuplicates['Name'] = dfNoDuplicates['Name'].str.lower()

dfNoDuplicates = dfNoDuplicates.drop(dfNoDuplicates[dfNoDuplicates["Gender"] == 'Unknown'].index) # 4229 names lost

dfNoDuplicates['isalpha'] = dfNoDuplicates["Name"].str.isalpha()
dfNoDuplicates = dfNoDuplicates.drop(dfNoDuplicates[dfNoDuplicates["isalpha"] == False].index)
dfNoDuplicates = dfNoDuplicates.drop(['isalpha'], axis=1)

dfNoDuplicates['isOneChar'] = dfNoDuplicates["Name"].str.len() < 2
dfNoDuplicates = dfNoDuplicates.drop(dfNoDuplicates[dfNoDuplicates["isOneChar"] == True].index)
dfClean = dfNoDuplicates.drop(['isOneChar'], axis=1)

dfClean.sort_index() # 97103

C:\Users\Samin\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

              Name  Gender  dataID
2            aaban    Male       1
4            aabas    Male       2
5            aabha  Female       1
6            aabia  Female       2
7            aabid    Male       1
9       aabidammar    Male       2
10       aabriella  Female       1
11           aadam    Male       1
13           aadan    Male       1
14         aadarsh    Male       1
16           aaden    Male       0
19          aadesh    Male       1
20          aadham    Male       2
21          aadhav    Male       1
23        aadhavan    Male       1
24         aadhira  Female       1
25       aadhithya    Male       2
26          aadhya  Female       0
29         aadhyan    Male       1
30            aadi    Male       1
32           aadil    Male       1
34          aadila  Female       2
35           aadin    Male       1
36          aadish    Male       1
37         aadison  Female       1
38           aadit    Male       1
40          aadith    Male       1
41         aaditri  Female       1
43         aaditya    Male       1
45      aadityaram    Male       2
...            ...     ...     ...
133423      zyrese    Male       1
133424    zyrhiana  Female       1
133425        zyri  Female       1
133426       zyria  Female       1
133427      zyriah  Female       1
133428      zyrian    Male       1
133429     zyriana  Female       1
133430    zyrianna  Female       1
133431       zyrie  Female       1
133432      zyriel  Female       1
133433    zyrielle  Female       1
133434   zyrihanna  Female       1
133435       zyrin    Male       1
133436      zyrion    Male       1
133437     zyriyah  Female       1
133438       zyron    Male       1
133439       zyrus    Male       1
133440      zysean    Male       1
133441     zyshaun    Male       1
133442     zyshawn    Male       1
133443      zyshon    Male       1
133444    zyshonne    Male       1
133445   zytaevius    Male       1
133446    zytaveon    Male       1
133447    zytavion    Male       1
133448   zytavious    Male       1
133449        zyva  Female       2
133450      zyvion    Male       1
133451     zyyanna  Female       1
133452       zzyzx    Male       1

[97103 rows x 3 columns]

In [132]:
dfWrite = dfAllNames

excel_dir = 'all_names.xlsx'
book = load_workbook(excel_dir)
with pd.ExcelWriter(excel_dir, engine='openpyxl') as writer:
    writer.book = book
    writer.sheets = dict((ws.title, ws) for ws in book.worksheets)    

    ## Your dataframe to append. 
    dfWrite.to_excel(writer, 'Sheet1', index=False)

    writer.save()  
writer.close()